html{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}
div{
    border: 1px solid black;
}
.active{
    color: #399bd1;
}
.nav{
    font-size: 1.1rem;
    font-weight: bold;
}
/*Jumbotron Formatting*/
.jumbotron .container-fluid{
    position: relative;
    color: white;
    text-align: center;
    padding-top: 11.85rem;
    max-width: 51.3rem;
}
.jumbotron h1{
    font-family: "Monoton", sans-serif;
    font-size: 7.1rem;
}
.jumbotron {
    padding-top: 10rem;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.relative-wrapper{
    position: relative;
    text-align: center;
}
.btn-primary{
    background-color: #399bd1;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    width: 11.4rem;
    padding: 1.3rem 0;
    margin-top: 2.8rem;
}

/*Bike Jumbotron*/
.jumbotron-bike{
    background-image: url("./images/jumbotron-bike.jpg");
    height: 70rem;
}

.image-container{
    opacity: 0.7;
    overflow: hidden;
    max-width: 100%;
}


/*Project Section*/
.project{
    margin-bottom: 5.85rem;
}
.project .image-container{
    max-height: 100%;
    overflow: hidden;
    position: relative;
}
/*Help Section*/
.help{
    text-align: center;
    background-color: #f3f3f3;
    padding: 5.2rem 0;
}
.help p{
    max-width: 42rem;
    margin: auto;
}

strong{
    font-weight: bold;
    font-size: 2.5rem;
}

